$alert-background-color: #ffddddcb;
$alert-border-color: #f443369b;
$alert-text-color: #d8000bbc;
$alert-icon-color: #f44336bf;
$alert-border-radius: 0.8rem;

.activity {
  display: flex;
  padding: 2rem 2.5rem 1.6rem 1.5rem;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;

  &-icon {
    margin-top: 0.3rem;
    margin-right: 1.5rem;
    width: 35px;
    height: 35px;
    padding: 0.3rem;
    color: #000000b5;
  }
  &-description {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }
  &_heading {
    font-size: 1.8rem;
    color: #000000e6;
  }
  &:hover {
    transform: translateY(-2px);
  }
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}
.activity_info {
  display: flex;
  justify-content: space-between;
  // color: #000;
  color: #00000073;
  // background: #00000073;
}

.severityLabel {
  display: flex;
  align-items: center;
  font-size: 16px; // Adjust as needed
  color: #666; // Adjust as needed
}

.severityDot {
  width: 13px; // Adjust as needed
  height: 13px; // Adjust as needed
  border-radius: 50%;
  margin-right: 8px; // Adjust as needed
}

.high {
  background-color: $alert-text-color;
}
.medium {
  background-color: #faad14;
}
.low {
  background-color: #1677ff;
}
//Media queries
@media (max-width: 1000px) {
  .activity_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
