.loader {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #0b1b84;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  left: calc(50% - 3rem);
  top: calc(50% - 3rem);
  transform: translate(-50%, -50%);
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border-bottom: 4px solid #ff3d00;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
