@import "../../assets/styles/variables";
@import "../../assets//styles/mixins";
.live-stream {
  flex-grow: 1;
  background-color: #fff;
  width: 75%;
  border-radius: 1rem;
  border: 0.94px solid #00000033;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.159);
  &-heading {
    font-style: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 1.3rem;
    // border-bottom: $border-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.4rem;
  }
  &-title {
    margin-left: 1.5rem;
  }
}
.zoomIcon {
  height: 2rem;
  width: 2rem;
}

.video-container {
  margin: 0 1.5rem 1.2rem 1.5rem;
}
.video-img {
  width: 100%;
  border-radius: 1rem;
  height: 62vh;
}
.zoom {
  height: 76vh;
  // transition: all 0.5s ease-in;
}

.zoomBtn {
  margin-right: 1.4rem;
}
