@import "../../assets/styles/variables";
.activities-container {
  background-color: #fff;
  width: 27%;
  border-radius: 1rem;
  border: 1px solid #00000033;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.084);
}

.activities-box {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  // max-height: 66rem;
  max-height: 77vh;
}

.activities {
  list-style: none;
  padding: 0;
  margin: 0;
  &-heading {
    font-style: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    padding-bottom: 1.6rem;
    text-align: center;
  }
}

.activities a {
  text-decoration: none;
}

.activities a:hover,
.activities a.active {
  background-color: #e57373;
}
.notificationIcon {
  height: 2.4rem;
  width: 2.4rem;
}
.filterIcon {
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 2rem;
  cursor: pointer;
}
.alertHeader {
  border-bottom: $border-grey;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 1.5rem;
  margin-bottom: 1rem;
}
.zoom {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 85.5vh;
}
.zoom2 {
  width: 22%;
  background-color: #fff;
  // width: 27%;
  border-radius: 1rem;
  border: 1px solid #00000033;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.084);
}
