@import "../../assets/styles/variables";
.dashboard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background-color: $color-dashboard;
  padding: 1rem 2rem;
  &-overview {
    flex: 1;
    display: flex;
    gap: 1.2rem;
    margin: 0.7rem 0;
  }
}
