.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #00000055;
  backdrop-filter: blur(5px);
}

.cardContainer {
  display: flex;
  gap: 2rem;
  z-index: 2;
}
